@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --manifold-text--font-family--body: var(--din-font);
  --manifold-text--font-family--header: var(--din-font);
  color-scheme: dark;
  color: var(--manifold-text--color--body);
  background: var(--manifold-page--color--background);
}

html {
  scroll-behavior: smooth;
}

.faq-row-wrapper.faq-title {
  text-align: right;
  font-size: small;
}

/* do not display image on Click to learn more card */
.no-image img {
  display: none;
}

.no-image .m-lazy-music audio[data-v-ba734e87] {
  width: 90%;
  height: 2.7rem;
  display: flex;
  justify-content: space-between;
}

.m-attribute {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 3px;
}

.m-attribute span {
  max-width: 50%;
  word-wrap: break-word;
}

.m-attribute span:nth-of-type(2) {
  text-align: end;
}

/* audio play in listing */
.m-media-wrapper.m-lazy-music audio[data-v-ba734e87] {
  width: 90%;
  height: 2.7rem;
  display: flex;
  justify-content: space-between;
}

/* image sizes on Mac */
.m-media-wrapper img[data-v-28dd4a24] {
  /* width: 100%;
  height: 100%; */
  min-height: 300px;
  /* object-fit: contain; */
  /* align-self: center */
  /* background-color: aqua; */
}

.m-video-player video[data-v-04fc00ec] {
  min-height: 300px;
}

/* image on [listing] */

/* listing image contain */
.image-aligned .m-media-wrapper[data-v-28dd4a24] {
  object-fit: contain !important;
  align-items: normal !important;
}

@media (max-width: 600px) {
  .listing {
    padding-top: 15px;
  }

  .listing .manifold.m-marketplace {
    display: flex;
    object-fit: contain;
    /* background-color: aqua; */
  }
  .listing .m-layout-listing.m-complete-view {
    display: block;
  }
  .listing .m-column.m-main {
    max-width: 100vw;
  }
  .listing .m-attribute {
    max-width: 90vw;
  }
}

/* claim widget  */
.claim-widget .m-connection-container {
  border-radius: var(--manifold-border--radius);
  /* font-family: var(--din-font); */
}

/* #campaign-complete-info-summary-countdown-action {
  position: relative;
} */

.m-claim .m-project {
  font-family: var(--din-font);
  /* position: relative; */
}

.claim-widget #footer-container {
  display: none !important;
}

@media (max-width: 1024px) {
  #campaign-complete
    #campaign-complete-info-container
    #campaign-complete-info
    #campaign-buy-button[data-v-8d344bfa] {
    position: sticky;
  }
}
